body {
    background-color: rgb(6,57,112)
}

h1 {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    color: lightblue;
    font-size: 42px;
}

#merry_christmas_title {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    color: lightgreen;
    font-weight: bold;
    background-color: lightcoral;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 10px solid lightgreen;
}

.about {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-weight: bold;
    /* margin-left: 780px; */
    /* margin-right: 780px; */
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    text-align: center;
    background-image: url("images/mifff_xmas.jpeg");
}

.about h2{
    color: lightblue;
}

.about p {
    color: yellow;
}

